[
    {rabbit, [
        {loopback_users, []},
        {default_user, <<"nerd">>},
        {default_pass, <<"12345678">>},
        {default_vhost, <<"/">>}
    ]},
    {rabbitmq_management, [
        {listener, [{port, 15672}]}
    ]},
    {rabbitmq_mqtt, [
        {default_user, <<"nerd">>},
        {default_pass, <<"12345678">>}
    ]},
    {rabbitmq_stomp, [
        {default_user, <<"nerd">>},
        {default_pass, <<"12345678">>}
    ]}
].

{rabbitmq_shovel, [
    {shovels, [
        {my_first_shovel,
            [
                {sources, [ {broker, "amqp://source-broker"} ]},
                {destinations, [ {broker, "amqp://destination-broker"} ]},
                {queue, <<"nerd-queue">>},
                {ack_mode, on_confirm},
                {publish_properties, [{delivery_mode, 2}]},
                {reconnect_delay, 500}
            ]
        }
    ]}
]}
].
